.nav{
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.nav-item{
    padding-left: 3em;
}

.containerswitch {
  top: 25px;
}

/*Info page*/
#infoarticle{
  text-align: center;
}

.row {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagecolumn {
  padding-left: 10px;
  display: inline-block;
}
  