doctype html 

html
    head
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous")
        script(src="./register.js") 
        title Register
    body
        h1 Register to my website!
        h1= security
        form(id='form-register')
            div(class='form-group')
                label Firstname:
                input(type="text", name="firstname", class="form-control", placeholder="Firstname" value="" id="firstname")
            div(class='form-group')
                label Lastname:
                input(type="text", name="lastname", class="form-control", placeholder="Lastname", value="", id="lastname")
            div(class='form-group')
                label Email:
                input(type="text", name="email", class="form-control", placeholder="Email" value="" id="email")
            div(class='form-group')
                label Phone:
                input(type="text", name="phone", class="form-control", placeholder="Phone" value="" id="phone")
            div(class='form-group')
                label Company:
                input(type="text", name="company", class="form-control", placeholder="Company" value="" id="company")
            div(class='form-group')
                label Message:
                input(type="text", name="msg", class="form-control", placeholder="Any message to developer!" value="" id="msg")
            div(class='form-group')
                label Security question! Type "test" (without quotation marks):
                input(type="text", name="question", class="form-control" value="" id="question")
            div
                input(type="submit", value="Submit" id="submitter").btn.btn-primary
    